In [2]:
from datascience import *
import numpy as np

## New material

### Two ways to create tables

**Way 1:** Reading from a file

In [ ]:
nba = Table.read_table('nba_salaries.csv')
nba.show(6)

**Way 2:** Creating from scratch

In [ ]:
streets = make_array('Bancroft', 'Durant', 'Channing', 'Haste')
streets

In [ ]:
Table()

In [ ]:
southside = Table().with_column('Streets', streets)
southside

In [ ]:
southside.with_column('Blocks from campus', np.arange(4))

In [ ]:
Table().with_columns(
    'Streets', streets,
    'Blocks from campus', np.arange(4)
)

### W.E.B. DuBois was a data scientist!

In [4]:
du_bois = Table.read_table('du_bois.csv')
du_bois

CLASS         | ACTUAL AVERAGE | RENT | FOOD | CLOTHES | TAXES | OTHER | STATUS
100-200       | 139.1          | 0.19 | 0.43 | 0.28    | 0.001 | 0.099 | POOR
200-300       | 249.45         | 0.22 | 0.47 | 0.23    | 0.04  | 0.04  | POOR
300-400       | 335.66         | 0.23 | 0.43 | 0.18    | 0.045 | 0.115 | FAIR
400-500       | 433.82         | 0.18 | 0.37 | 0.15    | 0.055 | 0.245 | FAIR
500-750       | 547            | 0.13 | 0.31 | 0.17    | 0.05  | 0.34  | COMFORTABLE
750-1000      | 880            | 0    | 0.37 | 0.19    | 0.08  | 0.36  | COMFORTABLE
1000 and over | 1125           | 0    | 0.29 | 0.16    | 0.045 | 0.505 | WELL-TO-DO

**Task**: Find the number of rows and the number of columns in this table.

**Task:** Find all of the variables recorded on each "individual" in this table.

**Task:** Extract just the information (row(s)) of the families with the highest earning income bracket on average, circa 1900. 
- There are multiple correct ways to do this! See if you can find more than one.

Way 1:

Way 2:

Discussion [1 min]

**Challenge Task pt 1:** Based on the relevant variables in the table, estimate the amount of money each that each income class of Black Americans spent on food, circa 1900.

**Challenge Task pt 2:** Add these estimates to the `du_bois` table as a new column.

____

**STOP**

### Back to the NBA example!

**Task:**
- Extract the rows in the `nba` table that correspond to Stephen Curry from the years 2016, 2017, ..., 2020. 
- Save the table into the name `recent_curry`.

**Discussion Question:** 
- Which of the following two lines of code correctly calculates the average salary of Steph Curry from 2016-2020?
- Use the [Python reference sheet](https://www.data8.org/sp25/reference/) to help you answer!

In [ ]:
np.average(recent_curry.select('salary'))

In [ ]:
np.average(recent_curry.column('salary'))

## Review

**Discussion Question 1:** Question 1, Final, Fall 2019.
- What will the following Python expression evaluate to?

In [ ]:
make_array(1,2,3) * 2

**Discussion Question 2:**    
- What will the following Python expression evaluate to?

In [ ]:
make_array(1,2,3) + np.arange(start=1, stop=4)

____